body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #0d6efd;
}
header h1 {
  font-weight: 600;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
section img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}
col-md-6 {
  
}
